---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
      {% include back.html name="Publications" location="/publications/" %}
        <header>
          {% if page.title %}<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        <p>{% include author_list.html object=page bold=false%}<br/>
            {% if page.accepted == true %}{{page.year}}, {% endif %}<i>{% if page.accepted == false %}Submitted to {% endif %}{{page.venue}}</i>{% if page.volume %}, vol. {{ page.volume }}{% endif %}{% if page.issue %}({{ page.issue }}){% endif %}{% if page.pages %}, pp. {{ page.pages }}{% endif %} </p>
        {% if page.accepted %}
          <p>{{ content }}</p>
        {% endif %}
        {% if page.doi %}
          <p>doi: <a href="http://dx.doi.org/{{page.doi}}">{{page.doi}}</a></p>
        {% endif %}
        {% if page.engrxiv %}
          <p>engrXiv: <a href="http://dx.doi.org/{{page.engrxiv}}">{{page.engrxiv}}</a></p>
        {% endif %}

      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

    </div>
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    <div class="page__related">
      <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
